footer#colophon {
	margin-top: 50px;
	@media (min-width: 768px) {
		margin-top: 100px;
	}

	#menu-footer {
		text-align: center;
		@media (min-width: 768px) {
			flex-direction: row;
			display: flex;
			gap: 1rem;
			justify-content: center;
			flex-wrap: wrap;
			max-width: 950px;
		}
		li {
			margin-bottom: 7px;
			a {
				text-decoration: underline;
			}
		}
	}
}
