// Editor-specific styles for the accordion container block

.wp-block-vitalisite-fse-accordion {
  max-width: 100% !important;

  > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;

    > .wp-block {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }

    > .block-list-appender {
      margin-top: 1rem;
    }
  }
}
