// Frontend styles for the accordion container block

.wp-block-vitalisite-fse-accordion.vitalisite-accordion-container {
  .vitalisite-accordion-item {
    margin-bottom: 4px !important;
    border-bottom: 1px solid var(--wp--preset--color--border-light);
  }
}
