<!-- wp:group {"metadata":{"name":"Header","categories":["vitalisite-header"],"patternName":"vitalisite-fse/header-fond"},"align":"full","style":{"spacing":{"padding":{"top":"20px","bottom":"20px"},"margin":{"top":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div
  class="wp-block-group alignfull"
  style="margin-top: 0px; padding-top: 20px; padding-bottom: 20px"
>
  <!-- wp:group {"align":"wide","className":"vitalisite-header__bg","style":{"spacing":{"padding":{"top":"14px","bottom":"14px","left":"20px","right":"20px"}}},"backgroundColor":"base-soft","layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"}} -->
  <div
    class="wp-block-group alignwide vitalisite-header__bg has-surface-background-color has-background"
    style="
      padding-top: 14px;
      padding-right: 20px;
      padding-bottom: 14px;
      padding-left: 20px;
    "
  >
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
    <div class="wp-block-group">
      <!-- wp:site-logo {"width":48} /-->

      <!-- wp:site-title {"level":0} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:navigation {"ref":10,"openSubmenusOnClick":true,"icon":"menu","layout":{"type":"flex","justifyContent":"right"}} /-->

    <!-- wp:buttons -->
    <div class="wp-block-buttons">
      <!-- wp:button {"backgroundColor":"primary","textColor":"base","style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"18px","right":"18px"}}}} -->
      <div class="wp-block-button">
        <a
          class="wp-block-button__link has-base-color has-primary-background-color has-text-color has-background wp-element-button"
          style="
            padding-top: 10px;
            padding-right: 18px;
            padding-bottom: 10px;
            padding-left: 18px;
          "
          >Parler à un conseiller</a
        >
      </div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:spacer {"height":"48px"} -->
  <div style="height: 48px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:query {"queryId":0,"query":{"perPage":10,"postType":"post","order":"desc","orderBy":"date"}} -->
  <div class="wp-block-query">
    <!-- wp:post-template {"layout":{"type":"default"}} -->
    <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"32px"}}}} -->
    <div class="wp-block-group" style="margin-bottom: 32px">
      <!-- wp:post-title {"isLink":true} /-->

      <!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /-->

      <!-- wp:post-excerpt /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination -->
    <!-- wp:query-pagination-previous /-->

    <!-- wp:query-pagination-numbers /-->

    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
