/**
 * Vitalisite FSE - Editor Styles
 * 
 * Ces styles sont appliqués dans l'éditeur Gutenberg
 * pour correspondre au rendu front-end.
 *
 * @package Vitalisite_FSE
 * @since 1.0.0
 */

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
caption,
figcaption,
p {
  text-wrap: pretty;
}

/* Links */
a {
  text-decoration-thickness: 1px !important;
  text-underline-offset: 0.1em;
}

/* Theme bento styles - Dans l'éditeur */
body.theme-style-bento .editor-styles-wrapper {
  padding: 0 30px;
}

/* Alternative: cibler via la class sur l'iframe */
.theme-style-bento .editor-styles-wrapper {
  padding: 0 30px;
}
